@tailwind base;
@tailwind component; 
@tailwind utilities ;

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f7f9fb;
  margin: 0;
}

h2, h3 {
  color: #333;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


